.frame{
    
    border-style: ridge;
    border-color: turquoise;
    border-width: 35px;

    min-height: 100vh;
    
    animation: myFadeIn 10s ;
    margin: 0px;
}

@keyframes myFadeIn
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
   }
}